@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.html {
  font-size: 10px;
}
.body {
  font-family: 'ProximaNova_reg', sans-serif;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.button {
  padding: 0.8rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #fcb303;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}
.section {
  padding: 10rem 0;
}
.section-header {
  padding: 5rem 0 5rem 0;
  text-align: center;
}
.section-header_light {
  color: #ffffff;
  margin-top: 0;
}
.section-header h2 {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 2.3rem;
}
.section-header p {
  font-size: 1.4rem;
}
.main {
  background: #ffffff url(../img/main-bg.png) center center no-repeat;
  z-index: -1;
  padding: 1rem 0 2rem;
  background-size: cover;
}
.main-content {
  margin-top: 1.4rem;
}
.main-content h1 {
  margin-bottom: 1.5rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 2.7rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}
.main-subtitle {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  line-height: 2rem;
  font-size: 1.4rem;
}
.main span {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.rem;
  text-align: center;
  margin-top: 1.3rem;
  background-color: #348d0e;
  color: #ffffff;
}
.main span strong {
  font-size: 2rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.main-trigger {
  font-size: 1.3rem;
  text-transform: uppercase;
  display: block;
  margin-top: 1.6rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.main-form {
  display: block;
  background-color: #ffffff;
  padding: 2.1rem 5rem;
  text-align: center;
  margin-bottom: 2rem;
  justify-content: flex-end;
}
.main-form-header {
  margin-bottom: 1.6rem;
  font-size: 1rem;
}
.main-form-header strong {
  font-size: 1.1rem;
}
.main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #dddddd;
  padding: 1rem;
}
.main-form label {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  font-size: 1rem;
}
.main-form-btn {
  display: block;
  height: 4rem ;
  width: 100%;
  font-size: 1rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.main-note {
  display: block;
  margin-top: 1rem;
  text-align: center;
}
.header {
  height: 7rem;
}
.wrap {
  text-align: end;
  width: 100%;
  height: 3rem;
}
.wrap-blok {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-link {
  float: right;
  margin-top: 0px 8px;
  text-decoration: none;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 1.1rem;
  height: 7rem;
  line-height: 4rem;
  color: #1a1820;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 1.1rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  margin-bottom: 2.1rem;
}
.features-block p {
  font-size: 1rem;
  display: inline-block;
  width: 70%;
}
.features-img {
  height: 2rem;
  margin-bottom: 4rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.aroow {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/left-aroow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/right-aroow.svg) center no-repeat;
  background-size: 70%;
}
.price {
  background: #348d0e url(../img/prices/beggriund.png) center;
}
.price-header-btn {
  margin-top: 5rem;
}
.price-button {
  text-align: right;
}
.price-block {
  position: relative;
  padding: 1rem 3rem 4rem;
  height: 100%;
  max-height: 650px;
  background-color: #ffffff;
  box-shadow: 7px 2px 6px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  margin-bottom: 6rem;
}
.price-block h4 {
  height: 40px;
  margin-top: 2rem;
  font-size: 1.3rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.price-block .img-wrapper {
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
}
.price-block .img-wrapper img {
  width: 100%;
}
.price-block .number {
  font-size: 1.8rem;
}
.price-block .price-btn {
  position: absolute;
  bottom: 20px;
  transform: translateX(-50%);
  padding: 15px 45px;
  font-size: 1rem;
}
.price-tag {
  margin-top: 0.2rem;
  display: block;
  margin-bottom: 1.1rem;
  font-size: 1.4rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.price .price-list {
  height: 200px;
  width: 90%;
  list-style: none;
  font-size: 1.1rem;
  line-height: 1.6rem;
  text-align: left;
  margin: 0 0 0 10%;
  padding: 0;
  position: relative;
}
.price .price-list li::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/prices/checked.png) center no-repeat;
  background-size: 100%;
  vertical-align: middle;
  position: absolute;
  left: -30px;
  transform: translateY(50%);
}
.feedback {
  background: url(../img/feedback/bgc2.png) top center no-repeat;
  position: relative;
  background-size: cover;
}
.feedback-prev-btn,
.feedback-next-btn {
  width: 49px;
  height: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.feedback-prev-btn {
  left: -50px;
  background: #ffffff url(../img/feedback/prev.png) center no-repeat;
  border: none;
  z-index: 997;
}
.feedback-next-btn {
  right: -50px;
  background: #ffffff url(../img/feedback/feedback-next-arrow.png) center no-repeat;
  border: none;
  z-index: 997;
}
.feedback .feedback-text {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #348d0e;
  font-style: italic;
  position: relative;
}
.feedback .feedback-text::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 30px;
  border: 2.3px solid #49bf15;
  border-top-right-radius: 100%;
  border-bottom: 3px solid #ffffff;
}
.feedback-slider {
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.11);
  margin-top: -50px;
  margin-bottom: 70px;
}
.feedback-slider_item {
  padding: 50px 60px 10px 60px;
  background-color: #ffffff;
}
.feedback-slider_item .customer-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.feedback-slider_item .customer-info .media {
  margin-right: 10px;
}
.feedback-slider_item .customer-info .media-body .media-customer {
  font-size: 13px;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.feedback-slider_item .customer-info .media-body .media-heading {
  font-size: 17px;
}
.feedback-slider_item p {
  font-size: 1rem;
}
.feedback-slider_item-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #348d0e;
  border: none;
}
.feedback-slider_item-btn img {
  width: 50%;
}
.feedback-form .box-shadow {
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.11);
  border-radius: 3px;
  position: absolute;
  background: #fff;
  width: 80%;
  height: 500px;
  left: 10%;
  margin-top: -30px;
}
.feedback-form-header {
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;
}
.feedback-form-text-label {
  display: flex;
  justify-content: center;
  text-align: center;
  transform: translateY(50%);
  padding: 0 13px;
  background-color: #fff;
  margin-left: 30px;
}
.feedback-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}
.feedback-form .row {
  margin-top: 10px;
}
.feedback-form-input-wrap {
  position: relative;
  margin: 0 10px;
}
.feedback-form-input {
  width: 260px;
  height: 50px;
  text-align: center;
  padding: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.11);
  border-radius: 8px;
  margin-left: 10px;
  margin-right: -20px;
}
.feedback-form-btn {
  position: relative;
  width: 270px;
  height: 65px;
  margin-left: 170px;
  margin-bottom: 5rem;
  z-index: 9;
}
.hand {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 300px;
}
.scheme {
  background: #ffffff url(../img/scheme/scheme-hand.png) bottom -82px right no-repeat;
  background-size: 35%;
}
.scheme .section-header-p {
  margin-top: 18px;
  font-size: 19px;
}
.scheme-block {
  text-align: center;
  min-height: 5rem;
  margin-bottom: 4rem;
  display: table-cell;
}
.scheme-block-little {
  display: flex;
  align-items: center;
  justify-content: center;
}
.scheme-block h3 {
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.scheme-block p {
  width: 200px;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
}
.all-inclusive {
  background: #f5f5f5 center center no-repeat;
}
.all-inclusive .media {
  display: flex;
  margin-bottom: 2rem;
  min-height: 2rem;
}
.all-inclusive .media-body {
  margin-bottom: 2rem;
}
.all-inclusive .media-left {
  margin-top: -5px;
}
.all-inclusive .media h4 {
  display: flex;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 1rem;
  margin-left: 20px;
  text-align: left;
}
.all-inclusive .media p {
  display: inline-block;
  font-size: 1rem;
  margin-left: 20px;
}
.circle {
  display: inline-block;
  background-color: #348d0e;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding: 0.3rem;
  border: 2px solid #348d0e;
  border-radius: 50%;
  text-align: center;
  line-height: 2.4rem;
  color: #ffffff;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 1rem;
}
.problems {
  position: relative;
}
.problems-woman {
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 180px;
}
.problems-list {
  border: 4px solid;
  margin-bottom: 2rem;
  padding: 2rem;
  min-height: 10rem;
  margin-bottom: 12rem;
}
.problems-list h4 {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 1.7rem;
}
.problems-list ul {
  list-style: none;
  padding-left: 0;
  padding-top: 20px;
}
.problems-list ul li {
  padding-left: 3.5rem;
  position: relative;
  font-size: 15px;
}
.problems-list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad li {
  margin-bottom: 27px;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/problems/symbol-bad.png) center no-repeat;
  background-size: 70%;
}
.problems-list_good {
  border-color: #348d0e;
}
.problems-list_good li {
  margin-bottom: 15px;
}
.problems-list_good ul li:before {
  background: url(../img/problems/symbol-false.png) center no-repeat;
  background-size: 70%;
}
.materials img {
  display: block;
  margin: 0 auto;
  align-items: center;
}
.materials-link {
  display: flex;
  color: #348d0e;
  margin-left: 110px;
  margin-top: -70px;
}
.materials-link-one {
  margin-top: -60px;
}
.materials-link:hover {
  color: #235f09;
}
.materials .pokupka {
  margin-top: 90px;
  margin-bottom: 80px;
  text-align: center;
}
.materials .pokupka-link {
  display: inline-block;
  margin-left: 0px;
}
.upsell {
  background: url(../img/upsell/head.png) center no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.upsell-title {
  margin-top: 110px;
}
.upsell-subtitle {
  font-size: 20px;
  max-width: 500px;
}
.upsell-form {
  margin-top: 100px;
  margin-bottom: 100px;
}
.additional {
  background-color: #348d0e;
  color: #ffffff;
  top: 10px;
  margin-bottom: 70px;
}
.additional-section {
  text-align: center;
}
.additional-section img {
  width: 100%;
}
.additional p {
  margin-top: 30px;
  margin-bottom: 15px;
}
.additional-btn {
  text-align: center;
  padding: 10px 30px;
  margin-bottom: 100px;
  align-items: center;
}
.contact-header h2 {
  margin-bottom: 60px;
}
.contact-header p {
  margin-bottom: 30px;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.contact .main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #dddddd;
  padding: 1rem;
}
.contact .main-form form textarea {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #dddddd;
  padding: 1rem;
}
.contact-sms {
  margin-left: 100px;
}
.contact .text-area {
  border-radius: 8px;
  border: 1px solid #dddddd;
  padding: 1rem;
}
.footer .dev-logo,
.footer .gipsolips {
  margin: 0 auto;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}
.footer .dannie {
  text-align: center;
  font-family: 'ProximaNova_Bold', sans-serif;
  margin-bottom: 60px;
}
/* Оформление всплывающих  модальных окон */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  background: #ffffff;
  transform: translateX(-50%);
  padding: 4rem 6rem;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-form .sms {
  border: 2px solid #eaeaea;
  border-radius: 8px;
  padding: 20px 10px;
  height: 30px;
  margin-bottom: 40px;
}
.popup-form-btn {
  margin-top: 1rem;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: white;
}
.popup-header {
  font-family: 'ProximaNova_Bold', sans-serif;
  text-align: center;
}
.popup p {
  text-align: center;
}
@media (max-width: 1600px) {
  .features-block p {
    width: 85%;
    margin-bottom: 6rem;
  }
  .price-block .img-wrapper {
    margin-top: 2rem;
  }
  .price-block-tag {
    margin-top: 4px;
  }
  .feedback-form .box-shadow {
    width: 58%;
    height: 370px;
    left: 21%;
    margin-top: -30px;
  }
}
@media (max-width: 1400px) {
  .features-block p {
    width: 80%;
    margin-bottom: 6rem;
  }
  .features-block .price-block .img-wrapper {
    margin-top: 1rem;
  }
  .features-block .price-tag {
    margin-top: 4px;
    margin-bottom: 3px;
  }
  .features-block .price-list {
    margin-top: 5px;
  }
  .media-body {
    display: block;
  }
  .problems-list {
    margin-bottom: 50px;
  }
  .problems-woman {
    display: none;
  }
}
@media (max-width: 1200px) {
  .order-info {
    display: block;
  }
  .order-info p {
    margin-bottom: 0;
  }
  .features-block p {
    width: 100%;
    margin-bottom: 5rem;
  }
  .price-block .img-wrapper {
    margin-bottom: 0;
  }
  .feedback-text {
    display: block;
  }
  .feedback-prev-btn {
    left: 1px;
  }
  .feedback-next-btn {
    right: 1px;
  }
  .feedback-form-input {
    margin-right: 10px;
  }
  .feedback-form-btn {
    margin-left: 110px;
  }
  .hand {
    display: none;
  }
  .all-inclusive .media {
    min-height: 100px;
  }
  .feedback-form .box-shadow {
    width: 70%;
    height: 750px;
    left: 18%;
    margin-top: 10px;
  }
  .feedback-form .box-shadow {
    width: 80%;
    height: 460px;
    left: 10%;
    top: 1250px;
  }
  .feedback-form-btn {
    left: -15px;
  }
  .feedback-form-text-label {
    width: 210px;
    display: flex;
    justify-content: center;
    text-align: center;
    transform: translateY(50%);
    padding: 0 3px;
    background-color: #fff;
    margin-left: 40px;
  }
  .materials-link {
    margin-left: 60px;
    margin-top: -70px;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-link {
    text-align: center;
  }
  .main-content {
    margin-top: 2.1rem;
  }
  .main-title {
    padding-bottom: 2rem;
    text-align: center;
  }
  .price-block {
    height: auto;
  }
  .price-block .img-wrapper {
    margin: 0 auto;
  }
  .price-block .price-list {
    height: auto;
    margin-bottom: 30px;
  }
  .feedback-prev-btn {
    left: -17px;
  }
  .feedback-next-btn {
    right: -17px;
  }
  .feedback-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    left: -70px;
  }
  .scheme {
    background-size: 39%;
  }
  .feedback-form .box-shadow {
    width: 80%;
    height: 500px;
    left: 10%;
    top: 1100px;
  }
  .feedback-form-btn {
    left: -75px;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-woman {
    display: none;
  }
  .upsell {
    background-position: top left;
  }
  .upsell-title {
    text-align: center;
  }
  .upsell-subtitle {
    max-width: 650px;
  }
}
@media (max-width: 767px) {
  .box-formin {
    position: fixed;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: #f8f8f8;
  }
  .phone-link {
    position: relative;
    z-index: 2;
  }
  .header-button {
    position: relative;
    z-index: 2;
  }
  .main {
    background-position: top left;
    z-index: 0;
  }
  .main .header-body {
    display: table-cell;
    background-position: 0 0;
    height: 3rem;
    width: 100%;
    display: flex;
    z-index: 7;
  }
  .main .header-body div:nth-of-type(2) {
    order: 1;
  }
  .main .header-body div:nth-of-type(1) {
    order: 3;
  }
  .main .header-body div:nth-of-type(4) {
    order: 2;
  }
  .main-content {
    text-align: center;
    margin-top: 7rem;
  }
  .main-content h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .main-content p {
    margin-top: 7px;
  }
  .header {
    text-align: center;
  }
  .fotorama {
    margin-top: -30px;
  }
  .order-info {
    margin-top: 20px;
  }
  .customer-info {
    margin-top: 20px;
  }
  .scheme {
    background: none;
  }
  .scheme-block {
    display: table-cell;
    align-items: center;
    text-align: center;
  }
  .scheme-block p {
    justify-content: center;
    text-align: center;
  }
  .media-body {
    height: 10px;
    text-align: start;
  }
  .media-left {
    text-align: right;
  }
  .media-heading p {
    display: block;
  }
  .media-heading h4 {
    display: block;
  }
  .price-button {
    position: relative;
    left: 150px;
    bottom: 80px;
    margin-right: 230px;
    transform: translate(-50%, 0);
  }
  .feedback-form-header {
    text-align: center;
    width: 300px;
    left: 115px;
  }
  .feedback-form .box-shadow {
    width: 80%;
    height: 500px;
    left: 10%;
    top: 990px;
  }
  .feedback-form-btn {
    left: 14px;
  }
  .materials-link {
    display: flex;
    color: #348d0e;
    margin-left: 230px;
  }
  .upsell {
    background-position: top left;
  }
}
.features p {
  width: 60%;
}
.features .scheme {
  background: none;
  text-align: center;
}
.features .scheme-block {
  min-height: 20rem;
}
.price-button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
